body {
    background-color: wheat;
    text-align: center;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3.3em;
}

h4 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.3em;
}
.main-div {
    background-color: rgb(245, 213, 157);
    padding: 50px 50px 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10% 30% 50% 70%;
    box-shadow: 10px 10px #ffe9daa8;
}

.last-visit {
    font-size: 0.8em;
}

/* dark mode */
.dark-mode {
    background-color: black;
    color: rgb(245, 235, 218);
}

.dark-mode-div {
    color: black;
}